h2{
  font:inherit;
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: bold;
}

.title {
  font: inherit;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.plans {
  text-decoration: underline;
  font-style: italic;
}

.description {
  font-weight: bold;
}

.contacts {
  font-weight: bold;
  color: #0e3485;
}

.contacts p {
  margin: 0;
}

.softs {
  margin-top: 2rem;
}

.soft-list p {
  margin: 0;
  font: inherit;
  font-size: 17px;
  font-style: italic;
  text-decoration: underline;
}
