.big-card {
  margin: 4rem auto;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* .big-card h2 {
  font: inherit;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  align-items: center;
}

.big-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
} */
