* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
}

.spinner-centered{
  margin: 10rem auto;
  text-align: center;
  align-items: center;
}